<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- in this ejs file we can use the varibale in index.js file -->
    this is numbers html file in views/numbers.html path
    <!-- for use the name variable come from js file (backend) -->
    <%= name %> <% if (true) { %> the condition is True <% } %>
  </body>
</html>
